.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Sesiuni
    %p După introducerea datelor despre o sesiune puteți adăuga și modifica notele corespunzătoare tezelor
    =link_to new_session_path do
      %button.btn.btn-primary Adăugare sesiune

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          %table.footable.table.table-stripped.toggle-arrow-tiny{'data-page-size': '8'}
            %thead
              %th{'data-toggle': 'true'} Anul de studii


